<div class="bgImageContainer onload" data-preload="" data-ctrl="close-news" data-onload="settle-in" data-onload-i="0" data-img="/assets/namby_splash.jpg">
  <div class="container" id="splash-wrapper">
    <div class="small-12, medium-6 columns">
      <div class="callout secondary" id="splash">
        <h2>What is Nambino?</h2>
          <p>We know how difficult it can be to choose a name for your baby so we created a nifty application to assist in the process.</p>
          <h2>Some neat features</h2>
            <ul>
              <li><img src="assets/exclude-icon.png"> Exclude specific names</li>
              <li><img src="assets/saved-icon.png"> Save your searches</li>
              <li><img src="assets/favorite-icon.png"> Create a favorites list</li>
            </ul>
      </div>
    </div>
    <div class="small-12, medium-6 columns">
      <div class="callout secondary" id="splash">
        <h2>Register with us.</h2>
          <%= render "layouts/register_form" %>
      </div>
    </div>
  </div>
</div>
