<h1>Previous Searches</h1>
  <ul>
    <% @results.each do |search| %>
      <% if !search.name.empty? %>
        <li>
          <%= link_to search.name, edit_result_path(search) %> </li>
          <%= button_to "Remove Saved Search", result_path(search), method: :delete %>
        </li>
      <% end %>
    <% end %>
  </ul>
